<!-- 
	THIS IS USED FOR HEIGHT AND WIDTH REFERENCE FOR THE DYNAMICALLY SIZED FRAMES
	you can find the js in more-info.js 
-->

<div class="ui bottom attached tab segment active">

	<div style="text-align: center">
		See some more information about this bell tower on 
		<a href="http://www.venipedia.org/wiki/index.php?title={{item.data['Page name']}}" target="_blank">Venipedia</a>
	</div>

	<div id="fluid-frame-reference">
		<div class="ui stackable grid">
			<div id="bell-frame-reference" class="eight wide column bell-model-container">
			</div>								
			<div class="eight wide column bell-model-container">
			</div>
		</div>
	</div>
</div>