<!-- 	<div class="more-info-header">
		<span ng-click="backToMap()" class="back-button">
			<span class="icon-arrow-left"></span>
		</span>
		<span class="more-info-title no-select">{{ item.data['Common name'] }}</span>
	</div> -->

<!-- navbar -->
<div id="navBar" class="ui fixed menu">
	<div class="ui container">
		<a ng-click="backToMap()" class="item">
			Map
		</a>

		<!--div class="right menu">
			<div class="item">
				<div class="ui transparent icon input">
					<input type="text" placeholder="Search Tower...">
					<i class="search link icon"></i>
				</div>
			</div>
		</div-->
	</div>
</div>